.main {
    border: red solid 15px;
    text-align: center;
    padding: 100px 30px;
}

h1 .banner-heading {
    font-size: 100px;
}

h1 {
    text-align: center;
}

table, th, td {
    border: red solid 2px;
}

