<head>
    <link href="~/StyleSheet.css" />
</head>
<body>
    <form method="post">
        <label for="name">Name</label>
        <input maxlength="20" placeholder="Student Name" name="studentName" />

        <label for="studentAge">Student Age</label>
        <input name="studentAge" />

        <button type="submit">Create Student</button>

    </form>
</body>